<ion-header>
  <ion-toolbar>
    <ion-title>Book Appointment</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>

  <div class="container">


    <div class="user">
      <div class="userName">
        <a routerLink="/profile" class="button">User Name</a>
      </div>

    </div>
  </div>

</ion-header>

<ion-content>

  <div class="book-form ion-padding">
    <h6 style="font-weight:bold ;">Customer Detail</h6>

    <div class="form-input">

        <ion-input hidden="true" [(ngModel)]="id" value="{{myRand}}" placeholder="id"></ion-input>

    </div>

    <div class="form-input">

        <ion-input hidden="true" [(ngModel)]="book_id" value="{{myRand}}" placeholder="book_id"></ion-input>

    </div>

    <!-- <div class="form-input">

      <ion-item *ngFor="let customers of customers;">
        <ion-label>{{customers.customer_ID}}</ion-label>
        <ion-input [(ngModel)]="customer_ID" value="{{customers.customer_ID}}"></ion-input>
      </ion-item>

    </div> -->

    <div class="form-input">
      <ion-item>
        <!-- <ion-label>{{customers.last_name}}, {{customers.first_name}} {{customers.middle_name}}</ion-label> -->
        <ion-input [(ngModel)]="fullname" type="text" value=""></ion-input>
      </ion-item>
    </div>

    <div class="form-input">
      <ion-item>
        <ion-input type="text" placeholder="Address"></ion-input>
      </ion-item>
    </div>


    <div class="form-input">
      <ion-item>
        <ion-input [(ngModel)]="contact" type="text" placeholder="Contact No."></ion-input>
      </ion-item>
    </div>

    <div class="form-input">
      <ion-item>
        <ion-input type="text" placeholder="Email Address"></ion-input>
      </ion-item>
    </div>

    <div class="form-input">

      <ion-item id="open-modal">

        <ion-label style="color: gray; font-size: small;">Date of Appointment</ion-label>
        <ion-text slot="end" style="font-size: small ;"> {{ formattedString }}</ion-text>
      </ion-item>

      <ion-modal trigger="open-modal">
        <ng-template>
          <ion-content>
            <ion-datetime #datetime [(ngModel)]="date" [value]="dateValue" size="cover" (ionChange)="dateChanged(datetime.value)" showDefaultButtons="true" (ionCancel)="showPicker = false;">

            </ion-datetime>
          </ion-content>
        </ng-template>
      </ion-modal>

    </div>


    <h6 style="font-weight:bold ;">Stylist Name</h6>

    <div class="form-input">
      <ion-item *ngFor="let employee of employee;" lines="none">
        <ion-label>{{ employee.employee_lastname}}, {{ employee.employee_firstname}} </ion-label>
        <input type="radio" [(ngModel)]="stylist" id="{{employee.id}}" name="radio" slot="end" value="{{ employee.employee_lastname}}, {{ employee.employee_firstname}}">
      </ion-item>
    </div>

    <h6 style="font-weight:bold ;">Services</h6>

    <div class="form-input">

      <ion-item>
        <ion-select placeholder="Select Service" [multiple]="true" [(ngModel)]="service">
          <ion-select-option value=" Warts Removal">Warts Removal</ion-select-option>
          <ion-select-option value=" Hair Salon">Hair Salon</ion-select-option>
          <ion-select-option value=" Eyelash Extension">Eyelash Extension</ion-select-option>
        </ion-select>
      </ion-item>

    </div>

    <ion-button class="book-button" expand="block" padding color="tertiary" (click)="book()">Book an Appointment</ion-button>

  </div>


</ion-content>
